.grid-container {
    justify-content: space-around;
    width: 80vw;
    margin: 80px auto;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, auto);
}

/* products section*/
.products {
    margin-top: 100px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.collection-div ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.collection-div ul li {
    list-style: none;
    padding: 5px 14px;
    border-radius: 3px;
    cursor: pointer;
}

.selected {
    background-color: darkcyan;
    color: white;
    font-weight: bold;
}