.dummy {
    height: 100px;
    width: 100px;
    background-color: darkcyan;
    text-align: center;
    padding: 10px;
    color: white;
}

.grid-container {
    padding: 50px 100px;
    text-align: center;
    width: 90vw;
    margin: auto;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, auto);
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.products{
    margin-top: 100px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}