.header {
    height: 35px;
    background-color: lightgray;
    padding: 5px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.offer {
    border-left: 2px solid #858383;
    padding-left: 30px;
    font-size: 13px;
}

.email {
    color: #0076b5;
    font-size: 13px;
    font-weight: 900;
}

a {
    text-decoration: none;
}

.header-second {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    cursor: pointer;
    color: black;
}

.header-second img {
    height: 21px;
}

.dropdown-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
}

#drop-down{
    z-index: 999;
    height: 80px;
    padding: 0px 30px;
    text-align: center;
    display: none;
    background-color: lightgray;
    position: absolute;
    top: 35px;
    right: 60px;
    border-radius: 0px 0px 3px 3px;
}

#drop-down p{
    cursor: pointer;
    color: black;
    font-size: 14px;
}
#drop-down p:hover{
    font-weight: bold;
}