.card {
    margin: 10px;
    background-color: #f4f4fb;
    border-radius: 4px;
    line-height: 6px;
    position: relative;
    cursor: grab;
    border: 0.2px solid lightgray;
}

.card:hover {
    box-shadow: 1px 1px 7px -1px gray;
    transform: scale(1.01);
    border: none;
}

.image-div {
    text-align: center;
}

.image-div img {
    width: 80%;
    border-radius: 4px;
}

.details {
    padding: 10px;
}

.details h2 {
    font-size: medium;
    margin: 30px 0px;
    color: slategray;
}

.details h3 {
    margin: 25px 0px;
    font-size: 20px;
}

.details p {
    font-size: small;
    line-height: normal;
    color: #999898;
}

.cart-btn {
    margin-top: 20px;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-btn h4 {
    font-size: small;
    color: #456f6f;
}

.rating {
    color: black;
    font-weight: bold;
}

.cart-btn button {
    padding: 5px auto;
    border: none;
    background-color: darkcyan;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
}

.card button:active {
    transform: scale(0.97);
}